:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

#root {
  max-width: 2500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

/* header {
  position: fixed;
  width: 100%;
  margin-right: 20px;
  top: 0;
  left: 0;
} */

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: #919191;
}

#stock {
  width: 30vw;
  height: 20vw;
  margin: 20px;
}

h1 {
  font-size: 4.5em;
  line-height: 1.1;
  margin: 10px
}

h2 {
  font-size: 2em
}
/* 
h3 {
  margin: 5px;
} */

h4 {
  margin: 5px;
  font-size: large;
}

h5 {
  margin: 5px;
}

span {
  font-size: medium;
}

.links {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 23px;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: double 15px;
  border-radius: 20px;
  justify-content: space-around;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

/* comments ol
margin: 5px;
max-width: 700px; */

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 243, 187);
  border: solid 10px rgb(248, 215, 65);
  box-shadow: -10px 10px 20px hsla(66, 56%, 34%, 0.9);
  margin: 20px;
  border-radius: 15px;
  list-style-type: none;
  width: 300px;
  height: 385px;
}

.comment-card {
  width: 85%;
  margin: 10px;
  justify-content: start;
  height: auto;
  background-color: rgb(187, 218, 247);
  border: solid 4px rgb(103, 131, 255);
  box-shadow: -5px 5px 10px hsla(216, 56%, 34%, 0.9);
}

.comment-card p {
  word-break: break-all;
}

#posted {
  font-weight: 800;
  color: green;
}

.art-img {
  border: black solid 5px;
  max-width: 225px;
  border-radius: 15px;
}

.art-card-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
}

p {
  margin: 5px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}


.article-title-container {
  width: 50%;
}

.art-title {
  font-weight: 500;
  margin-bottom: 0px;
}

.art-topic {
  position: absolute;
  margin-top: 18.720px;
  align-self: flex-end;
}

.topic-word {
  font-weight: 400;
}

.art-author {
  margin: 0;
  margin-bottom: 8px;
}

.art-date-time {
  margin-left: 0px;
}

.art-body {
  text-align: justify;
}

.single-art-img {
  width: 80vw;
  margin: 20px;
  align-self: center;
}

.votes-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vote-up, .vote-down {
  color: rgb(255, 106, 106);
  line-height: 0.8;
  font-size: 30px;
  font-weight: 1000;
  padding: 0 20px;
  padding-bottom: 3px;
}

.vote-up {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.vote-down {
  border-top: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-box {
  width: 70%;
  margin-bottom: 10px;
}

button {
  /* border-radius: 8px; */
  border: 2px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(26, 60, 255);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
